@model NAAProject.Data.Models.Domain.Application

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Statement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Statement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherReference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherReference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Offer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Offer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Firm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Firm)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ApplicationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
